@import "tailwindcss";

/* Define custom colors */
@theme {
  --color-background: #212124;
  --color-surface: #27272a;
  --color-surface-contrast: #181818;
  --color-text-default: #f4f4f5;
  --color-text-muted: #A1A1AA;
  --color-accent: #A9E851;
  --color-teal: #18C9DD;
  --color-purple: #A78BFA;
  --color-orange: #FB923C;
  --color-danger: #FB7185;
  --color-sparkline-green: #32CA5B;
  --color-sparkline-red: #FF3A33;
  --color-disabled: #52525B;
}
